@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --primary-color: white;
  --secondary-color: black;
  --accent-color: black;
  --inter: "Inter";
  --border: rgba(0, 0, 0, 0.1);
  --border-2: rgba(0, 0, 0, 0.2);
  --font-weight-900: 900;
  --font-weight-800: 800;
  --font-weight-700: 700;
  --font-weight-600: 600;
  --font-weight-500: 500;
  --font-weight-400: 400;
  --active: rgba(244, 244, 245);
  --text-hover: rgb(0, 0, 0);
  --box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --primary-color: black;
    --secondary-color: white;
    --active: rgba(255, 255, 255, 0.13);
    --accent-color: white;
    --border-2: rgba(255, 255, 255, 0.2);
    --border: rgba(255, 255, 255, 0.1);
    --text-hover: rgb(255, 255, 255);
  }
} */

.light {
  --primary-color: white;
  --secondary-color: black;
  --active: rgba(244, 244, 245);
  --accent-color: black;
  --border-2: rgba(0, 0, 0, 0.2);
  --border: rgba(0, 0, 0, 0.1);
  --text-hover: rgb(0, 0, 0);
}

.dark {
  --primary-color: black;
  --secondary-color: white;
  --active: rgba(255, 255, 255, 0.13);
  --accent-color: white;
  --border-2: rgba(255, 255, 255, 0.2);
  --border: rgba(255, 255, 255, 0.1);
  --text-hover: rgb(255, 255, 255);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--inter);
}

.flex {
  display: flex;
  align-items: center;
}

.flex-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}